body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#precautions {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

#precautions h2 {
    color: #333;
    font-size: 24px;
}

#precautions p {
    margin-bottom: 10px;
}

#precautions ul {
    list-style-type: square;
    margin-left: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

/* 동의 체크 버튼 레이아웃 */
#agreement-container {
    display: flex;
    align-items: center;
}

#agreement-label {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Select 스타일 */
select#serviceType {
    width: 100%; /* 전체 너비 사용 */
    padding: 8px; /* 패딩 추가 */
    margin-bottom: 10px; /* 마진 추가 */
    border: 1px solid #ccc; /* 경계선 스타일 */
    border-radius: 4px; /* 경계선 둥글게 */
    box-sizing: border-box; /* 박스 사이징 */
    background-color: #fff; /* 배경색 */
    font-family: Arial, sans-serif; /* 폰트 스타일 */
    -webkit-appearance: none; /* 크롬, 사파리용 */
    -moz-appearance: none; /* 파이어폭스용 */
    appearance: none; /* 표준 */
    background-image: url('dropdown-arrow.svg'); /* 화살표 이미지 */
    background-repeat: no-repeat;
    background-position: right 10px center; /* 화살표 위치 */
    background-size: 12px; /* 화살표 크기 */
}

/* 오래된 IE 브라우저 대응 */
select#serviceType::-ms-expand {
    display: none; /* IE용 화살표 제거 */
}

button[type="submit"] {
    background-color: #00a2ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
}

button[type="submit"]:hover {
    background-color: #008cff;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    color: white;
    margin: 5px 0;
}

footer p:first-child {
    margin-top: 0;
}

footer p:last-child {
    margin-bottom: 0;
}
